Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background:        #d8d8d8
XTerm*foreground:        #222D31
XTerm*pointerColor:      #FF5500
! Font
XTerm*renderFont: true
XTerm*faceName:          Iosevka Nerd Font Mono
XTerm*faceSize:          12
XTerm*saveLines: 16384
XTerm*scrollTtyOutput: false
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true


!background:                      #222D31
!foreground:                      #d8d8d8
!*fading:                          8
!*fadeColor:                       black
!cursorColor:                     #1ABB9B
!*pointerColorBackground:          #2B2C2B
!pointerColorForeground:          #F0D92F

! double-click to select whole URLs :D
/* XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48 */


!! Font size
XTerm.VT100.translations: #override \n\
 Ctrl <Key> minus: smaller-vt-font() \n\
 Ctrl <Key> plus: larger-vt-font()
!! Mouse
/* Ctrl <button 4>:scroll-back(1,halfpage,m) \n\ */
/* Lock Ctrl <button 4>:scroll-back(1,halfpage,m) \n\ */
/* Lock @Num_Lock Ctrl <button 4>:scroll-back(1,halfpage,m) \n\ */
/* @Num_Lock Ctrl <button 4>:scroll-back(1,halfpage,m) \n\ */
/* <button 4>:scroll-back(5,line,m)     \n\ */
/* Ctrl <button 5>:scroll-forw(1,halfpage,m) \n\ */
/* Lock Ctrl <button 5>:scroll-forw(1,halfpage,m) \n\ */
/* Lock @Num_Lock Ctrl <button 5>:scroll-forw(1,halfpage,m) \n\ */
/* @Num_Lock Ctrl <button 5>:scroll-forw(1,halfpage,m) \n\ */
/*      <button 5>:scroll-forw(5,line,m)     \n\ */
XTerm.VT100.faceSize1: 9
XTerm.VT100.faceSize2: 10
XTerm.VT100.faceSize3: 11
XTerm.VT100.faceSize4: 12
XTerm.VT100.faceSize5: 13
XTerm.VT100.faceSize6: 14
XTerm.VT100.faceSize7: 15
!! black dark/light
*color0:                          #00FF00
*color8:                          #00FF00

!! red dark/light
*color1:                          #ab4642
*color9:                          #ab4642

!! green dark/light
*color2:                          #FFFFFF
*color10:                         #00FF00

!! yellow dark/light
*color3:                          #55AA00
*color11:                         #f7ca88

!! blue dark/light
*color4:                          #7cafc2
*color12:                         #7cafc2

!! magenta dark/light
*color5:                          #ba8baf
*color13:                         #ba8baf

!! cyan dark/light
*color6:                          #FFAA00
*color14:                         #2794AA

!! white dark/light
*color7:                          #d8d8d8
*color15:                         #f8f8f8

Xcursor.theme:xcursor-breeze
!URxvt.font: 9x15,xft:TerminessTTFNerdFontMono
URxvt.font: xft:Iosevka Nerd Font Mono:size=10
URxvt.scrollBar:false
URxvt.perl-ext-common:...,keyboard-select
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.clipboard.autocopy:true
URxvt.keysym.M-c:perl:clipboard:copy
URxvt.keysym.M-v:perl:clipboard:paste
URxvt.keysym.M-s:perl:keyboard-select:search
URxvt.underlineColor:yellow
URxvt.termName:rxvt
!URxvt.perl-lib:/home/share/.urxvt/ext

##########THEME-URXVT

! terminal colors ------------------------------ 

! Jellybeans Terminal Colours

! vim: ft=xdefaults
urxvt*background: #222D31
urxvt*foreground: #DFB31B
! black
urxvt*color0: #1C1C1C
urxvt*color8: #404040
! red
urxvt*color1: #85E70E
urxvt*color9: #CF6A4C
! green
urxvt*color2: #85E70E
urxvt*color10: #FFFFFF
! yellow
urxvt*color3: #49B8E0
urxvt*color11: #9E96C4
! blue
urxvt*color4: #667899
urxvt*color12: #8197BF
! magenta
urxvt*color5: #FFFFFF
urxvt*color13: #C6B6EE
! cyan
urxvt*color6: #668799
urxvt*color14: #8FBFDC
! white
urxvt*color7: #888888
urxvt*color15: #E8E8D3


!! Dmenu
dmenu.font : FantasqueSansMono Nerd Font:size=13
dmenu.background : #373D4A
dmenu.foreground : #FFFFFF
dmenu.selbackground : #005577
dmenu.selforeground : #FFFFFF
