[Desktop Entry]
Type=Application
Name=st
Comment=st is a simple terminal implementation for X
Icon=xterm-color_48x48
Terminal=false
Exec=st
Categories=System;TerminalEmulator;
Path=/usr/local/bin
StartupNotify=false
